@charset "UTF-8";
@-webkit-keyframes fade-left-to-right {
  from {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-left-to-right {
  from {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-right-to-left {
  from {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right-to-left {
  from {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  4% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  8% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  12% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  16% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  20% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  24% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes swing {
  0% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  4% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  8% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  12% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  16% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  20% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  24% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
  min-width: 125px;
  height: 34px;
  border-radius: 32px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #ffffff;
  background-color: #ff753a;
  border: 2px solid transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus,
.button:active {
  color: #ff753a;
  background-color: #ffffff;
  border-color: #ff753a;
}

/* Позиціювання */
/* Блокова модель */
/* Типографія */
/* Відображення */
/* Інше */
.logo__img {
  color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__img:hover, .logo__img:focus {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.page-header {
  padding-top: 56px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth-nav {
  margin-right: 46px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 56px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #fcfcfc;
}

.site-nav__link.current {
  color: #ff753a;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #ff753a;
}

.site-nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #ff753a;
  border-radius: 3px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.auth-nav__item {
  margin-right: 8px;
}

.auth-nav__link {
  padding: 8px;
  color: #ffffff;
}

.auth-nav__link:hover,
.auth-nav__link:focus {
  color: #ab0433;
}

.auth-nav__icon {
  fill: currentColor;
}

.footer {
  background-color: #505050;
  padding-top: 69px;
  color: white;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 52px;
}

.footer__nav-account {
  margin-right: 48px;
}

.footer__nav-item {
  margin: 0;
  margin-top: 9px;
}

.footer__nav-link {
  font-size: 14px;
  line-height: 1.3;
  color: #ffffff;
}

.footer__nav-link:hover,
.footer__nav-link:focus {
  color: #ff753a;
}

.link__after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.link__after::before {
  content: "";
  margin-bottom: px;
  width: 58px;
  height: 3px;
  background-color: #ffffff;
}

.foooter__contact {
  margin-left: auto;
}

.contact__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-top: 20px;
}

.social__link {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__icon {
  fill: #ffffff;
}

.social__icon:hover,
.social__icon:focus {
  fill: #ff753a;
}

.foooter__copyright {
  background-color: #252525;
}

.foooter__copyright-text {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  font-family: "Montserrat";
  font-size: 12.8px;
  line-height: 1.4;
}

.scroll-top {
  position: fixed;
  bottom: 5%;
  right: 3%;
  width: 50px;
  height: 50px;
  background-color: #ff753a;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.9;
}

* {
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: #ffffff;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.button {
  cursor: pointer;
}

.container {
  width: 1300px;
  padding-left: 18px;
  padding-right: 18px;
  margin: 0 auto;
}

.header-bgimage {
  position: absolute;
  background-color: rgba(2, 6, 11, 0.7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 6, 11, 0.7)), color-stop(32.85%, rgba(2, 6, 11, 0))), url(/images/hero-bgi.jpg);
  background-image: linear-gradient(180deg, rgba(2, 6, 11, 0.7) 0%, rgba(2, 6, 11, 0) 32.85%), url(/images/hero-bgi.jpg);
  width: 100%;
  height: 808px;
  margin-left: 0;
  margin-right: 0;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  color: white;
  z-index: -1;
}

section {
  padding-top: 88px;
  padding-bottom: 88px;
}

.copyright {
  background-color: #252525;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Позиціювання */
/* Блокова модель */
/* Типографія */
/* Відображення */
/* Інше */
.guitars-header {
  padding-top: 36px;
  padding-bottom: 36px;
  background: url(/images/guitars.html/nav-img.jpg);
  background-size: cover;
}

.products {
  padding-top: 56px;
}

.brands__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 56px;
}

.brands__item:not(:last-child) {
  margin-right: 25px;
}

.brands__btn:hover,
.brands__btn:focus,
.brands__btn:active {
  color: #ff753a;
  background-color: #ffffff;
  border-color: #ff753a;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-set__item {
  width: 400px;
  margin-right: 32px;
  margin-bottom: 32px;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1), 0px 12px 32px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1), 0px 12px 32px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
}

.card-set__item:nth-child(3n) {
  margin-right: 0;
}

.card-set__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -24px;
  margin-right: -24px;
  background: radial-gradient(98.56% 98.92% at 1.22% 1.08%, #fbfbfb 0%, #d3d3d3 100%);
  border-radius: 10px 10px 0px 0px;
}

.card-set__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
  margin-top: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #252525;
}

.card-set__content {
  margin-top: 6px;
  margin-bottom: 0px;
  height: 42px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: #767676;
}

.card-set__desc {
  margin-top: 8px;
  margin-bottom: 26px;
  width: 115px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #505050;
  text-align: center;
  border: 1px solid #eaeaea;
  border-radius: 20px;
}

.card-set__actions {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #ffffff;
  background-color: rgba(75, 99, 131, 0.95);
  border-radius: 10px 10px 0px 0px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.card-set__img:hover .card-set__actions {
  opacity: 1;
}

.help {
  width: 1200px;
  padding: 52px 110px;
  margin-bottom: 88px;
  background-color: #ececec;
}

.help__abb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}

.help__title {
  margin-bottom: 44px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  /* #505050 */
  color: #505050;
}

.help__subtext {
  margin-bottom: 36px;
  width: 341px;
  color: #767676;
}

.help__text {
  color: #767676;
}

.more__link {
  color: #767676;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.more__link:hover {
  color: #ff753a;
}

.answers {
  margin-left: auto;
}

.answers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.answers__text {
  width: 430px;
  color: #767676;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.answers__text:hover {
  color: #505050;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.answers__link::before {
  content: "";
  width: 35px;
  height: 35px;
  margin-right: 15px;
  background-image: url("../../images/guitars.html/help-1.svg");
  background-size: contain;
}

.al__icon-2::before {
  background-image: url("../../images/guitars.html/help-2.svg");
}

.al__icon-3::before {
  background-image: url("../../images/guitars.html/help-3.svg");
}

.div__form {
  position: relative;
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 2px solid #767676;
  border-radius: 18px;
}

.help__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 38px;
}

.help__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 10px;
}

.help__input {
  outline: transparent;
  color: #505050;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ececec;
  margin-right: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  z-index: 10;
}

.help__btn {
  margin-right: 2px;
}/*# sourceMappingURL=guitars.css.map */