@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

* {
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 44px;
  padding-bottom: 44px;
}
@media screen and (min-width: 768px) {
  section {
    padding-top: 88px;
    padding-bottom: 88px;
  }
}

.section__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 42px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2916666667;
  letter-spacing: normal;
  text-align: center;
  color: #505050;
}
.section__title::before {
  content: "";
  margin-bottom: 8px;
  width: 80px;
  height: 3px;
  background-color: #ab0433;
}
@media screen and (max-width: 767.98px) {
  .section__title::before {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .section__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}

@-webkit-keyframes fade-left-to-right {
  from {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-left-to-right {
  from {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-right-to-left {
  from {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right-to-left {
  from {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  4% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  8% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  12% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  16% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  20% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  24% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes swing {
  0% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  4% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  8% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  12% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  16% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  20% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  24% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.container {
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 18px;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    width: 1300px;
  }
}

.header-bgimage {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  min-width: 375px;
  height: 507px;
  margin: 0 auto;
  background: rgba(2, 6, 11, 0.7);
  background-image: url(/images/hero-bgi-mq-mobile.jpg), -webkit-gradient(linear, left top, left bottom, from(rgba(2, 6, 11, 0.7)), color-stop(32.85%, rgba(2, 6, 11, 0)));
  background-image: url(/images/hero-bgi-mq-mobile.jpg), linear-gradient(180deg, rgba(2, 6, 11, 0.7) 0%, rgba(2, 6, 11, 0) 32.85%);
  background-size: cover;
  background-position: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -10;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-bgimage {
    background-image: url(/images/hero-bgi-mq-mobile.jpg), -webkit-gradient(linear, left top, left bottom, from(rgba(2, 6, 11, 0.7)), color-stop(32.85%, rgba(2, 6, 11, 0)));
    background-image: url(/images/hero-bgi-mq-mobile.jpg), linear-gradient(180deg, rgba(2, 6, 11, 0.7) 0%, rgba(2, 6, 11, 0) 32.85%);
  }
}
@media screen and (min-width: 768px) {
  .header-bgimage {
    width: 100%;
    min-width: 1200px;
    height: 770px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 6, 11, 0.7)), color-stop(32.85%, rgba(2, 6, 11, 0))), url(https://bondarenkoai.github.io/music-store/images/hero-bgi.jpg);
    background-image: linear-gradient(180deg, rgba(2, 6, 11, 0.7) 0%, rgba(2, 6, 11, 0) 32.85%), url(https://bondarenkoai.github.io/music-store/images/hero-bgi.jpg);
  }
}
@media screen and (min-width: 1300px) {
  .header-bgimage {
    width: 100%;
    min-width: 1440px;
    height: 808px;
    background-image: url(../../images/index.html/header-bgi/header-bgi-sm.jpg), -webkit-gradient(linear, left top, left bottom, from(rgba(2, 6, 11, 0.7)), color-stop(32.85%, rgba(2, 6, 11, 0)));
    background-image: url(../../images/index.html/header-bgi/header-bgi-sm.jpg), linear-gradient(180deg, rgba(2, 6, 11, 0.7) 0%, rgba(2, 6, 11, 0) 32.85%);
  }
}
@media screen and (min-width: 1300px) and (min-device-pixel-ratio: 2), screen and (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1300px) and (min-resolution: 192dpi), screen and (min-width: 1300px) and (min-resolution: 2dppx) {
  .header-bgimage {
    background-image: url(../../images/index.html/header-bgi/header-bgi-sm@2x.jpg), -webkit-gradient(linear, left top, left bottom, from(rgba(2, 6, 11, 0.7)), color-stop(32.85%, rgba(2, 6, 11, 0)));
    background-image: url(../../images/index.html/header-bgi/header-bgi-sm@2x.jpg), linear-gradient(180deg, rgba(2, 6, 11, 0.7) 0%, rgba(2, 6, 11, 0) 32.85%);
  }
}

.page-header {
  padding-top: 56px;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1300px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav {
  display: none;
  margin-left: 40px;
}
@media screen and (min-width: 1300px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.auth-nav {
  margin-right: 46px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 56px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2777777778;
  letter-spacing: normal;
  color: #fcfcfc;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #ff753a;
}
.site-nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #ff753a;
  border-radius: 3px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.current {
  color: #ff753a;
}

.auth-nav {
  display: none;
}
@media screen and (min-width: 1300px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.auth-nav__item {
  margin-right: 8px;
  padding: 8px;
  color: #ffffff;
  cursor: pointer;
}
.auth-nav__item:hover,
.auth-nav__item :focus {
  color: #ab0433;
}

.auth-nav__icon {
  fill: currentColor;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
  min-width: 125px;
  height: 34px;
  border-radius: 32px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #ff753a;
  border: 2px solid transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus, .button:active {
  color: #ff753a;
  background-color: #ffffff;
  border-color: #ff753a;
}

/* Позиціювання */
/* Блокова модель */
/* Типографія */
/* Відображення */
/* Інше */
.logo__img {
  color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.logo__img:hover, .logo__img:focus {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
@media screen and (max-width: 767.98px) {
  .logo__img {
    width: 153px;
    height: 24px;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #ffffff;
}
@media screen and (min-width: 1300px) {
  .menu-button {
    display: none;
  }
}

.menu-button .menu-icon--cross {
  display: none;
}

.menu-button.is-open .menu-icon--cross {
  display: block;
}

.menu-button.is-open .menu-icon--menu {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #252525;
  text-align: center;
  z-index: 5;
}
.menu-container.is-open {
  display: block;
}

.site-nav__menu .site-nav__item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.site-nav__menu--auth .auth-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.auth-nav__menu-text {
  margin-left: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2777777778;
  letter-spacing: normal;
  color: #fcfcfc;
}
.auth-nav__menu-text:hover, .auth-nav__menu-text:focus {
  color: #ab0433;
}

.backdrop__login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 52, 57, 0.8);
  -webkit-transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 400ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
}

.backdrop__login.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper--login {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  min-height: 300px;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .modal-wrapper--login {
    width: 500px;
  }
}

.modal-wrapper--blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(82, 93, 105, 0.9) 0%, rgba(52, 61, 72, 0.9) 38%);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 20;
}

.modal-wrapper--content {
  margin: 0 auto;
  z-index: 30;
}

.modal-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 2px solid #252525;
  border-radius: 50%;
  background-color: transparent;
}

.form-login__logo {
  margin-left: 15px;
  margin-bottom: 40px;
}

.form-login__title {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.0588235294;
  letter-spacing: normal;
}
@media screen and (min-width: 768px) {
  .form-login__title {
    margin-bottom: 60px;
  }
}

.modal-form--login {
  width: 350px;
  padding: 50px 30px;
  color: #ffffff;
}

.form-login__group {
  position: relative;
  display: block;
  padding-bottom: 10px;
  color: #ececec;
}
.form-login__group .form-login__label {
  position: absolute;
  top: -5px;
  left: 0;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.form-login__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3125;
  letter-spacing: normal;
}

.form-login__input {
  margin-bottom: 40px;
  width: 100%;
  padding: 3px;
  outline: transparent;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ececec;
}
.form-login__input::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.form-login__input::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.form-login__input:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.form-login__input::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.form-login__input::placeholder {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.form-login__input:focus::-webkit-input-placeholder {
  opacity: 1;
}
.form-login__input:focus::-moz-placeholder {
  opacity: 1;
}
.form-login__input:focus:-ms-input-placeholder {
  opacity: 1;
}
.form-login__input:focus::-ms-input-placeholder {
  opacity: 1;
}
.form-login__input:focus::placeholder {
  opacity: 1;
}

.form-login__input:not(:-moz-placeholder-shown) + .form-login__label {
  transform: translateY(-25px);
}

.form-login__input:not(:-ms-input-placeholder) + .form-login__label {
  transform: translateY(-25px);
}

.form-login__input:focus + .form-login__label,
.form-login__input:not(:placeholder-shown) + .form-login__label {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.form-login__policy-desc {
  padding-left: 30px;
  margin-top: -4px;
}
@media screen and (min-width: 1300px) {
  .form-login__policy-desc {
    margin-top: 0;
    padding-top: 6px;
  }
}

.form-login__btn {
  background-color: transparent;
  border: 2px solid #ff753a;
}
.form-login__btn:hover, .form-login__btn:focus, .form-login__btn:active {
  color: #252525;
  background-color: rgb(221, 235, 255);
}

.form-login__text {
  margin-top: 20px;
  text-align: center;
}

.form-login__text--link {
  cursor: pointer;
}

.form-login__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}
.form-login__desc::before, .form-login__desc::after {
  content: "";
  margin: 0 15px;
  margin-bottom: -3px;
  width: 200px;
  height: 2px;
  background-color: #767676;
}

.form-login__link {
  text-align: center;
}

.backdrop__signup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 52, 57, 0.8);
  -webkit-transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 400ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
}

.backdrop__signup.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper--signup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  min-height: 300px;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .modal-wrapper--signup {
    width: 500px;
  }
}

.modal-wrapper--blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(82, 93, 105, 0.9) 0%, rgba(52, 61, 72, 0.9) 38%);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 20;
}

.modal-wrapper--content {
  margin: 0 auto;
  z-index: 30;
}

.modal-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 2px solid #252525;
  border-radius: 50%;
  background-color: transparent;
}

.form-login__logo {
  margin-left: 15px;
  margin-bottom: 40px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 24, 0.8);
  -webkit-transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 400ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 355px;
  min-height: 300px;
  opacity: 1;
  background-color: #fff;
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .modal-wrapper {
    width: 748px;
  }
}
@media screen and (min-width: 1300px) {
  .modal-wrapper {
    width: 1000px;
  }
}

.modal-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 2px solid #252525;
  border-radius: 50%;
  background-color: transparent;
}

.contact-left__title {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .contact-left__title {
    margin-bottom: 60px;
  }
}

.contact-left {
  width: 100%;
  padding: 30px;
  background: rgb(3, 53, 106);
  background: linear-gradient(135deg, rgba(10, 23, 36, 0.9) 0%, rgba(3, 53, 106, 0.9) 38%);
  color: #ffffff;
  border-radius: 13px 0 0 13px;
}
@media screen and (min-width: 768px) {
  .contact-left {
    width: 50%;
    padding: 40px;
  }
}
@media screen and (min-width: 1300px) {
  .contact-left {
    padding: 50px;
  }
}

.modal-form__group {
  position: relative;
  display: block;
  padding-bottom: 10px;
  color: #ececec;
}
@media screen and (min-width: 768px) {
  .modal-form__group {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1300px) {
  .modal-form__group {
    padding-bottom: 30px;
  }
}

.modal-form__group .modal-form__label {
  position: absolute;
  top: -5px;
  left: 0;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.modal-form__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3125;
  letter-spacing: normal;
}

.modal-form__input {
  margin-bottom: 40px;
  width: 100%;
  padding: 3px;
  outline: transparent;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ececec;
}
.modal-form__input::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.modal-form__input::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.modal-form__input:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.modal-form__input::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.modal-form__input::placeholder {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.modal-form__input:focus::-webkit-input-placeholder {
  opacity: 1;
}
.modal-form__input:focus::-moz-placeholder {
  opacity: 1;
}
.modal-form__input:focus:-ms-input-placeholder {
  opacity: 1;
}
.modal-form__input:focus::-ms-input-placeholder {
  opacity: 1;
}
.modal-form__input:focus::placeholder {
  opacity: 1;
}

.modal-form__input:not(:-moz-placeholder-shown) + .modal-form__label {
  transform: translateY(-25px);
}

.modal-form__input:not(:-ms-input-placeholder) + .modal-form__label {
  transform: translateY(-25px);
}

.modal-form__input:focus + .modal-form__label,
.modal-form__input:not(:placeholder-shown) + .modal-form__label {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.modal-form__textarea {
  margin-bottom: 20px;
  min-width: 100%;
  resize: none;
  padding: 3px;
  outline: transparent;
  color: #ececec;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ececec;
}
.modal-form__textarea::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.modal-form__textarea::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.modal-form__textarea:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.modal-form__textarea::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.modal-form__textarea::placeholder {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.modal-form__textarea:focus::-webkit-input-placeholder {
  opacity: 1;
}
.modal-form__textarea:focus::-moz-placeholder {
  opacity: 1;
}
.modal-form__textarea:focus:-ms-input-placeholder {
  opacity: 1;
}
.modal-form__textarea:focus::-ms-input-placeholder {
  opacity: 1;
}
.modal-form__textarea:focus::placeholder {
  opacity: 1;
}

.modal-form__textarea:not(:-moz-placeholder-shown) + .modal-form__label {
  transform: translateY(-25px);
}

.modal-form__textarea:not(:-ms-input-placeholder) + .modal-form__label {
  transform: translateY(-25px);
}

.modal-form__textarea:focus + .modal-form__label,
.modal-form__textarea:not(:placeholder-shown) + .modal-form__label {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.modal-form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-form__custom-checkbox {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  border-radius: 4px;
  outline: 2px solid #ececec;
  outline-offset: -2px;
}

.modal-form__custom-checkbox-icon {
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox .modal-form__custom-checkbox-icon {
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}

.modal-form__policy-desc {
  padding-left: 30px;
  margin-top: -4px;
}
@media screen and (min-width: 1300px) {
  .modal-form__policy-desc {
    margin-top: 0;
    padding-top: 6px;
  }
}

.modal-form__group:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1300px) {
  .modal-form__group:last-child {
    width: 100%;
  }
}

.contact-right {
  width: 50%;
  padding: 30px;
  padding-top: 40px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 767.98px) {
  .contact-right {
    display: none;
  }
}
@media screen and (min-width: 1300px) {
  .contact-right {
    padding: 50px;
  }
}

.contact-right__title {
  position: relative;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  color: #252525;
}
.contact-right__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 60px;
  height: 3px;
  background-color: #ab0433;
  border-radius: 3px;
}

.contact-right__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #252525;
}
@media screen and (min-width: 768px) and (max-width: 1299.98px) {
  .contact-right__subtitle {
    font-size: 16px;
  }
}

.contact-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  height: 50px;
}

.contact-group__icon {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  outline: 1px solid #252525;
  outline-offset: -2px;
}

.contact-group__text {
  padding-left: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #252525;
}
@media screen and (min-width: 768px) and (max-width: 1299.98px) {
  .contact-group__text {
    font-size: 16px;
  }
}

.contact-group__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #252525;
}
.contact-group__link:hover, .contact-group__link:active {
  color: #ff753a;
}
@media screen and (min-width: 768px) and (max-width: 1299.98px) {
  .contact-group__link {
    font-size: 16px;
  }
}

.scroll-top {
  position: fixed;
  bottom: 5%;
  right: 3%;
  width: 50px;
  height: 50px;
  background-color: #ff753a;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.9;
}

.footer {
  background-color: #505050;
  padding-top: 69px;
  color: white;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 52px;
}
@media screen and (max-width: 767.98px) {
  .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-nav__account {
  margin-right: 48px;
}
@media screen and (max-width: 767.98px) {
  .footer-nav__account {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }
}

.footer-nav__item {
  margin: 0;
  margin-top: 9px;
}

.footer-nav__link {
  font-size: 14px;
  line-height: 1.3;
  color: #ffffff;
}
.footer-nav__link:hover, .footer-nav__link:focus {
  color: #ff753a;
}

.footer-nav--after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-nav--after::before {
  content: "";
  margin-bottom: px;
  width: 58px;
  height: 3px;
  background-color: #ffffff;
}

@media screen and (max-width: 767.98px) {
  .footer-nav__store {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__logo--none {
    display: none;
  }
}

.foooter-contact {
  margin-left: auto;
}
@media screen and (max-width: 767.98px) {
  .foooter-contact {
    margin: 0 auto;
  }
}

.contact-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-top: 20px;
}
@media screen and (max-width: 767.98px) {
  .contact-social__list {
    margin-top: 32px;
  }
}

.contact-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin-left: 10px;
}

.contact-social__icon {
  fill: #ffffff;
}
.contact-social__icon :hover,
.contact-social__icon :focus {
  fill: #ff753a;
}

.foooter-copyright {
  background-color: #252525;
}

.foooter-copyright__text {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  font-family: "Montserrat";
  font-size: 12.8px;
  line-height: 1.4;
}
@media screen and (max-width: 767.98px) {
  .foooter-copyright__text {
    text-align: center;
  }
}

.guitars-header {
  position: absolute;
  top: 0;
  left: 50%;
  width: 375px;
  height: 140px;
  margin: 0 auto;
  background: rgba(2, 6, 11, 0.7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 6, 11, 0.7)), color-stop(32.85%, rgba(2, 6, 11, 0))), url(https://bondarenkoai.github.io/music-store/images/guitars.html/nav-img.jpg);
  background-image: linear-gradient(180deg, rgba(2, 6, 11, 0.7) 0%, rgba(2, 6, 11, 0) 32.85%), url(https://bondarenkoai.github.io/music-store/images/guitars.html/nav-img.jpg);
  background-size: cover;
  background-position: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -10;
}
@media screen and (min-width: 768px) {
  .guitars-header {
    width: 1200px;
    height: 140px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 6, 11, 0.7)), color-stop(32.85%, rgba(2, 6, 11, 0))), url(https://bondarenkoai.github.io/music-store/images/guitars.html/nav-img.jpg);
    background-image: linear-gradient(180deg, rgba(2, 6, 11, 0.7) 0%, rgba(2, 6, 11, 0) 32.85%), url(https://bondarenkoai.github.io/music-store/images/guitars.html/nav-img.jpg);
  }
}
@media screen and (min-width: 1300px) {
  .guitars-header {
    width: 1600px;
    height: 140px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 6, 11, 0.7)), color-stop(32.85%, rgba(2, 6, 11, 0))), url(https://bondarenkoai.github.io/music-store/images/guitars.html/nav-img.jpg);
    background-image: linear-gradient(180deg, rgba(2, 6, 11, 0.7) 0%, rgba(2, 6, 11, 0) 32.85%), url(https://bondarenkoai.github.io/music-store/images/guitars.html/nav-img.jpg);
  }
}

.socials {
  background-color: #505050;
}

section.socials {
  margin-top: 90px;
}

.socials-menu {
  position: relative;
  background-color: #252525;
  padding-top: 20px;
  padding-bottom: 160px;
}

.socials-menu__btn {
  position: relative;
  z-index: 10;
}

.socials-menu__btn:hover ~ .socials-menu__list .socials-menu__item {
  -webkit-transform: translateY(calc(var(--item) * 40px));
          transform: translateY(calc(var(--item) * 40px));
}

.socials-menu__list {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 200px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.socials-menu__item {
  position: absolute;
  padding: 5px;
}

.socials-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio-buttom__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  /* #505050 */
  color: #505050;
}

.form-pay__type {
  display: block;
}
@media screen and (min-width: 768px) {
  .form-pay__type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form-pay__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 100px;
  padding: 10px;
  cursor: pointer;
}

.form-pay__input:checked + .form-pay__option {
  fill: #ff753a;
}

.form-pay__option {
  margin-right: 10px;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: fill 300ms ease-in;
  transition: fill 300ms ease-in;
}

.form-pay__label {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #252525;
}/*# sourceMappingURL=storage.css.map */