@import "./base/normalize";
@import "./utils/variables";
// @import "./utils/mixins";
@import "./components/logo";
@import "./components/page-header";
@import "./components/hero";
@import "./components/products";
@import "./components/finds";
@import "./components/gearheads";
@import "./components/button";
@import "./components/footer";

* {
    font-family: $font-family;
}

body {
    background-color: $bg-color;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $bg-color;
}

.container {
    width: 1440px;
    padding: 15px;
}

.header-bgimage {
    width: 1600px;
    height: 1000px;
    background-image: url(/images/hero-bgi.jpg);
    background-repeat: no-repeat;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    background-color: #ccc;

    color: white;
}

footer {
    color: white;
    background-color: #505050;
}

.copyright {
    background-color: #252525;
}
