@import "./base/normalize";
// @import "./utils/variables";
// @import "./utils/mixins";
// @import "./components/page-header";
// @import "./components/logo";

* {
    font-family: Work Sans, sans-serif;
}

.container {
    padding: 30px;
}

.header-bgimage {
    width: 1600px;
    height: 1000px;
    background-image: url(/images/hero-bgi.jpg);
    background-repeat: no-repeat;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    background-color: #ccc;

    color: white;
}

footer {
    color: white;
    background-color: #505050;
}

.copyright {
    background-color: #252525;
}
