// <section class="section">
//     <h2 class="title"></h2>
//     <p class="text"></p>
// </section>

.section {
    color: aqua;

    .title {
        color: teal;
    }

    .text {
        color: black;
    }
}

// <section class="section">
//     <h2 class="section-title"></h2>
//     <p class="section-text"></p>
// </section>

// .section {
//     color: aqua;

//     &-title {
//         color: teal;
//     }

//     &-text {
//         color: black;
//     }
// }

.section {
    color: red;

    &:hover {
        color: royalblue;
    }
}

.section__title {
    color: black;

    &:hover {
        color: white;
    }
}
