.help {
    width: 1200px;
    padding: 52px 110px;
    margin-bottom: 88px;

    background-color: #ececec;
}

.help__abb {
    display: flex;
    margin-bottom: 36px;
}

.help__title {
    // position: absolute;
    // left: -0.36%;
    // right: 0%;
    // top: 14.29%;
    // bottom: 0%;
    // margin: 0;
    margin-bottom: 44px;

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;

    /* #505050 */

    color: $text-color;
}

.help__subtext {
    margin-bottom: 36px;

    width: 341px;
    color: $p-color;
}

.help__text {
    color: $p-color;
}

.more__link {
    color: $p-color;
    transition: color 250ms $cubic;
}

.more__link:hover {
    color: $btn-color;
}

.answers {
    margin-left: auto;
}

.answers__list {
}

.answers__item {
}
.answers__link {
    display: flex;
    align-items: center;

    margin-bottom: 20px;
}

.answers__text {
    width: 430px;
    color: $p-color;

    transition: transform 250ms $cubic;
}

.answers__text:hover {
    color: $text-color;
    transform: scale(1.02);
}

.answers__link::before {
    content: "";
    width: 35px;
    height: 35px;
    margin-right: 15px;

    background-image: url("../../images/guitars.html/help-1.svg");
    background-size: contain;
}

.al__icon-2::before {
    background-image: url("../../images/guitars.html/help-2.svg");
}

.al__icon-3::before {
    background-image: url("../../images/guitars.html/help-3.svg");
}

.div__form {
    position: relative;
    width: 600px;
    margin: 0 auto;

    background-color: $bg-color;
    border: 2px solid $p-color;
    border-radius: 18px;
}

.help__form {
    display: flex;
    align-items: center;
    width: 100%;
    height: 38px;
}

.help__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto 10px;
}

.help__input {
    outline: transparent;
    color: $text-color;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $bg-color-2;
    margin-right: 10px; 

    flex-grow: 1;
    z-index: 10;
}

.help__btn {
    margin-right: 2px;

}

// .btn__icon {
//     display: inline-block;
//     height: 20px;
//     width: 20px;
//     margin-right: 6px;
//     background-image: src="";
// }
