.backdrop__signup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 52, 57, 0.8);

    transition: opacity 400ms $cubic, visibility 400ms $cubic;

    z-index: 10;
}

.backdrop__signup.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-wrapper--signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;

    width: 350px;
    min-height: 300px;
    opacity: 1;

    @include media(tablet) {
        width: 500px;
    }
}

.modal-wrapper--blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        135deg,
        rgba(82, 93, 105, 0.9) 0%,
        rgba(52, 61, 72, 0.9) 38%
    );
    backdrop-filter: blur(3px);

    z-index: 20;
}

.modal-wrapper--content {
    margin: 0 auto;
    z-index: 30;
}

.modal-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;

    @include centeredFlex;

    cursor: pointer;
    border: 2px solid $color-25;
    border-radius: 50%;
    background-color: transparent;
}

.form-login__logo {
    // margin: 0 auto;
    margin-left: 15px;
    margin-bottom: 40px;
}
