.contact-left__title {
    margin-bottom: 60px;
}

.contact-left {
    width: 100%;
    padding: 50px;

    background: rgb(3, 53, 106);
    background: linear-gradient(
        135deg,
        rgba(10, 23, 36, 0.9) 0%,
        rgba(3, 53, 106, 0.9) 38%
    );

    color: $bg-color;
    border-radius: 13px 0 0 13px;

    @include media(tablet) {
        width: 50%;
    }
}

.modal-form {
}

.modal-form__group {
    position: relative;
    display: block;
    padding-bottom: 30px;

    color: $bg-color-2;
}

.modal-form__group .modal-form__label {
    position: absolute;
    top: -5px;
    left: 0;

    transition: all 400ms ease;
}

.modal-form__label {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
}

.modal-form__input {
    margin-bottom: 40px;
    width: 100%;
    padding: 3px;

    outline: transparent;
    color: $bg-color;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $bg-color-2;

    &::placeholder {
        opacity: 0;
        transition: opacity 300ms ease-in;
    }

    &:focus::placeholder {
        opacity: 1;
    }
}

.modal-form__input:focus + .modal-form__label,
.modal-form__input:not(:placeholder-shown) + .modal-form__label {
    transform: translateY(-25px);
}

.modal-form__textarea {
    margin-bottom: 20px;
    min-width: 100%;
    resize: none;
    padding: 3px;

    outline: transparent;
    color: $bg-color-2;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $bg-color-2;

    &::placeholder {
        opacity: 0;
        transition: opacity 300ms ease-in;
    }

    &:focus::placeholder {
        opacity: 1;
    }
}

.modal-form__textarea:focus + .modal-form__label,
.modal-form__textarea:not(:placeholder-shown) + .modal-form__label {
    transform: translateY(-25px);
}

.modal-form__checkbox {
    display: flex;
    align-items: center;
}

.modal-form__custom-checkbox {
    width: 20px;
    height: 20px;
    @include centeredFlex();

    background-color: $bg-color;
    border-radius: 4px;
    outline: 2px solid $bg-color-2;
    outline-offset: -2px;
}

.modal-form__custom-checkbox-icon {
    opacity: 0;
    transition: opacity 200ms ease-in;
}

.modal-form__checkbox:checked
    + .modal-form__custom-checkbox
    .modal-form__custom-checkbox-icon {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.modal-form__policy-desc {
    padding-left: 30px;
    padding-top: 6px;
}
