/* Позиціювання */
/* Блокова модель */
/* Типографія */
/* Відображення */
/* Інше */

.finds {

    background: #ECECEC;
}

.finds-title {
    // position: absolute;
    // left: -0.36%;
    // right: 0%;
    // top: 14.29%;
    // bottom: 0%;


    /* #505050 */

    margin-bottom: 42px;

  
}

.card-set {
    display: flex;
    flex-wrap: nowrap;
}

.card-set__item {
}

.card-set__title {
    // color: $color-25;
}

.card-set__content {
    // color: $p-color;
}

.card-set__desc {
    // color: $text-color;
}
