.footer {
    padding-top: 69px;
    padding-bottom: 43px;
}

.footer__nav-link {
    margin: 0;
    margin-bottom: 9px;

    font-size: 14px;
    line-height: 1.3;
    color: $bg-color;
}

.footer__nav-link:hover,
.footer__nav-link:focus {
    color: $btn-color;
}

.foooter__copyright {
    font-family: "Montserrat";
    font-size: 12.8px;
    line-height: 1.4;
}
