/* Позиціювання */
/* Блокова модель */
/* Типографія */
/* Відображення */
/* Інше */

.gear-set {
    display: flex;
    flex-wrap: wrap;
}

.gear-set__item {
    background-color: $color-25;
}

.gsi__scdr {
    background-color: #eaeaea;
}

.gear-set__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: $bg-color;
}

.gst__scdr {
    color: #202020;
}

.gear-set__content {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    color: #c4c4c4;
}

.gsc__scdr {
    color: $p-color;
}