/* Позиціювання */
/* Блокова модель */
/* Типографія */
/* Відображення */
/* Інше */

.hero {
}

.hero__title {
    margin-top: 178px;
    margin-bottom: 178px;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $bg-color;

    width: 577px;
    height: 201px;
}

.hero__article {
    text-align: center;
    width: 1200px;
    height: 280px;

    background-image: url(/images/article-lesson.png) ;
    background-repeat: no-repeat;
    
}

.hero__subtitle {
    margin: 0;
    padding-top: 50px;
    
    font-weight: 700;
    font-size: 46px;
    line-height: 1.2;
    color: $bg-color;
}

.hero__content {    
    // width: 616px;
    // height: 72px;
    margin-bottom: 16px;

    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
}

.hero__btn {
   
}
