/* Позиціювання */
/* Блокова модель */
/* Типографія */
/* Відображення */
/* Інше */

.hero {
    padding-top: 178px;
    padding-bottom: 0px;
}

.hero__title {
    // margin-top: 178px;
    // margin-bottom: 178px;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $bg-color;

    width: 577px;
    height: 201px;

    animation: fade-left-to-right 2s;
}

.hero__article {
    text-align: center;
    width: 1264px;
    height: 255px;

    background-image: url(/images/article-lesson.png);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;

    box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1),
        0px 12px 32px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    // transform-origin: left;
    // transform: rotate3d(1, 2, -1, 8deg);

    animation: fade-right-to-left 3s $cubic;
}

// .hero__article {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     padding: 32px;
//     gap: 16px;

//     // position: absolute;
//     width: 1264px;
//     height: 280px;

//     left: 88px;
//     right: 88px;
//     top: 664px;

//     background: url(/images/article-lesson3.png), #ab0433;
//     background-blend-mode: darken, normal;
//     background-size: cover;
//     background-position: center;
//     /* Shaddow 1 */

//     box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1), 0px 12px 32px rgba(0, 0, 0, 0.05);
//     border-radius: 10px;
// }

.hero__subtitle {
    margin: 0;
    margin-top: 178px;
    padding-top: 50px;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 46px;
    line-height: 1.2;
    color: $bg-color;
}

.hero__content {
    width: 550px;
    margin: 0 auto;
    height: 72px;
    margin-bottom: 16px;

    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
}

.hero__btn {
    // width: 129px;

    animation: swing 10s ease-in-out infinite forwards;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 24, 0.8);

    transition: opacity 400ms $cubic, visibility 400ms $cubic;
}

// .backdrop.is-hidden {
//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none;
// }

.backdrop__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;

    width: 1000px;
    min-height: 300px;

    opacity: 1;

    background-color: #fff;
    border-radius: 15px;
}

.group__title {
    margin-bottom: 60px;
}

.contact-left {
    width: 50%;
    padding: 50px;

    background: rgb(3, 53, 106);
    // background: radial-gradient(
    //     circle,
    //     rgba(3, 53, 106, 1) 50%,
    //     rgba(14, 36, 60, 1) 100%
    // );
    background: linear-gradient(
        135deg,
        rgba(10, 23, 36, 0.9) 0%,
        rgba(3, 53, 106, 0.9) 38%
    );

    color: $bg-color;
    border-radius: 13px 0 0 13px;
}

.contact-form {
}

.form-group {
    position: relative;
    display: block;
    padding-bottom: 30px;

    color: $bg-color-2;
}

.form-group .form-group__label {
    position: absolute;
    top: -5px;
    left: 0;

    transition: all 400ms ease;
}

.form-group__label {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
}

.form-group:last-child {
    // margin-top: 30px;
    // margin-bottom: 30px;
}

.form-group__input {
    margin-bottom: 40px;
    width: 100%;
    padding: 3px;

    outline: transparent;
    color: $bg-color;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $bg-color-2;
}

.form-group__input:focus + .form-group__label,
.form-group__input:not(:placeholder-shown) + .form-group__label {
    transform: translateY(-25px);
}

.form-group__input::placeholder {
    opacity: 0;

    transition: opacity 300ms ease-in;
}

.form-group__input:focus::placeholder {
    opacity: 1;
}

.form-group__textarea {
    margin-bottom: 20px;
    min-width: 100%;
    resize: none;
    padding: 3px;

    outline: transparent;
    color: $bg-color-2;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $bg-color-2;
}

.form-group__textarea::placeholder {
    opacity: 0;

    transition: opacity 300ms ease-in;
}

.form-group__textarea:focus::placeholder {
    opacity: 1;
}

.form-group__textarea:focus + .form-group__label,
.form-group__textarea:not(:placeholder-shown) + .form-group__label {
    transform: translateY(-25px);
}

.group-checkbox {
    display: flex;
    align-items: center;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $bg-color;
    border-radius: 4px;
    outline: 2px solid $bg-color-2;
    outline-offset: -2px;
}

.custom-checkbox__icon {
    opacity: 0;
    transition: opacity 200ms ease-in;
}

.checkbox:checked + .custom-checkbox .custom-checkbox__icon {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.form-policy-desc {
    padding-left: 30px;
    padding-top: 6px;
}

// Contact Form Rigth

.contact-right {
    padding: 50px;

    font-family: "Montserrat", sans-serif;
}

.contact__title {
    position: relative;

    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px;
}

.contact__title::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -10px;
    width: 60px;
    height: 3px;
    background-color: $red-line;
    border-radius: 3px;
}

.contact__subtitle {
    @include p-textMontserrat;
}

.contact-group {
    position: relative;
    display: flex;
    align-items: center;

    margin-top: 40px;
    height: 50px;
}

.contact-group__icon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    background-color: $bg-color;
    border-radius: 50%;
    outline: 1px solid $color-25;
    outline-offset: -2px;
}

.contact-group__text {
    padding-left: 70px;

    @include p-textMontserrat;
}

.contact-group__link {
    @include p-textMontserrat;
}

.contact-group__link:hover,
.contact-group__link:active {
    color: $btn-color;
}
