/* Позиціювання */
/* Блокова модель */
/* Типографія */
/* Відображення */
/* Інше */

.logo {
}

.logo__img {
    color: $bg-color;
    transition: transform 250ms $cubic;

    &:hover,
    &:focus {
        transform: scale(1.02);
    }
 

    @include media(mobile-only) {
        width: 153px;
        height: 24px;
    }
    


}
