/* Позиціювання */
/* Блокова модель */
/* Типографія */
/* Відображення */
/* Інше */

.logo {
}

.logo__img {
    color: $bg-color;
    transition: transform 250ms $cubic;

    &:hover,
    &:focus {
        transform: scale(1.02);
    }
}
