.page-header {
    background-color: $color-25;
}

.nav {
    display: flex;
    align-items: center;
}

.site-nav {
}

.site-nav__link {
    color: $text-nav;
}

.site-nav__link.current {
    color: $btn-color;
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: $btn-color;
}

.auth-nav__link {
    color: $bg-color;
}

.auth-nav__link:hover,
.auth-nav__link:focus {
    color: $red-line;
}
