/* Позиціювання */
/* Блокова модель */
/* Типографія */
/* Відображення */
/* Інше */

.section__title {
    // position: absolute;
    // left: -0.36%;
    // right: 0%;
    // top: 14.29%;
    // bottom: 0%;

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;

    /* #505050 */

    color: $text-color;
}

.card-set {
    display: flex;
    flex-wrap: nowrap;
}

.card-set__item {
}

.card-set__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    color: $color-25;
}

.card-set__content {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: $p-color;
}

.card-set__desc {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: $text-color;
}
