* {
    font-family: $font-family;
}

body {
    background-color: $bg-color;
    margin-left: auto;
    margin-right: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $bg-color;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

section {
    padding-top: 44px;
    padding-bottom: 44px;

    @include media(tablet) {
        padding-top: 88px;
        padding-bottom: 88px;
    }
}

.section__title {
    align-items: center;
    flex-direction: column;

    margin-bottom: 42px;

    @include fonts(700, 24, 31, normal);
    text-align: center;
    color: $text-color;

    &::before {
        content: "";
        margin-bottom: 8px;

        width: 80px;
        height: 3px;
        background-color: $red-line;

        @include media(mobile-only) {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
    }

    @include media(tablet) {
        display: flex;
        justify-content: center;

        @include fonts(700, 40, 48, normal);
    }
}
