.container {
    margin: 0 auto;
    padding-left: 18px;
    padding-right: 18px;

    @include media(mobile) {
        width: 375px;
    }

    @include media(tablet) {
        width: 768px;
    }

    @include media(desktop) {
        width: 1300px;
    }
}




// @include fonts(600, 18, 23, normal);
