@mixin bordered($color) {
    border: 5px solid $color;
}

@mixin centeredFlex($type: flex) {
    display: $type;
    align-items: center;
    justify-content: center;
}

@mixin p-textMontserrat {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    color: $color-25;
}

@mixin media($type) {
    $mobile: 375px;
    $tablet: 768px;
    $desktop: 1300px;

    @if $type == "mobile-only" {
        @media screen and (max-width: #{$tablet - 0.02}) {
            @content;
        }
    }

    @if $type == "mobile" {
        @media screen and (min-width: $mobile) {
            @content;
        }
    }
    @if $type == "tablet-only" {
        @media screen and (min-width: $tablet) and (max-width: #{$desktop - 0.02}) {
            @content;
        }
    }

    @if $type == "tablet" {
        @media screen and (min-width: $tablet) {
            @content;
        }
    }
    @if $type == "not-desktop" {
        @media screen and (max-width: #{$desktop - 0.02}) {
            @content;
        }
    }

    @if $type == "desktop" {
        @media screen and (min-width: $desktop) {
            @content;
        }
    }
}

@mixin fade($type) {
    @if $type== "hide" {
        visibility: hidden;
        opacity: 0;
        transition: visibility 1s, opacity 1s;
    } @else if $type== "show" {
        visibility: visible;
        opacity: 1;
        transition: visibility 1s, opacity 1s;
    }
}

@mixin cover-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin fonts($fw: 400, $fs, $lh, $ls) {
    font-weight: $fw;
    font-size: $fs * 1px;

    @if $lh==normal {
        line-height: normal;
    } @else {
        line-height: $lh / $fs;
    }

    letter-spacing: $ls;
    // @if $ls==normal {
    //     letter-spacing: normal;
    // } @else {
    //     letter-spacing: #{$ls / $fs}em;
    // }
}
