$bg-color: #ffffff;
$bg-color-2: #ececec;
$btn-color: #ff753a;
$red-line: #ab0433;

$text-color: #505050;
$p-color: #767676;
$text-nav: #fcfcfc;
$color-25: #252525;

$font-family: "Work Sans", sans-serif;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);

// Breackpoints

// // 375--767:
// $mobile: 375px;
// // 328+328=656+32=688   768-688=-40  768--1300:
// $tablet: 768px;
// // 1300--infinity:
// $desktop: 1300px;
