/* Позиціювання */
/* Блокова модель */
/* Типографія */
/* Відображення */
/* Інше */

.gear {
}

.gear__title {
    margin-bottom: 48px;
}

.gear-set {
    display: flex;
    flex-wrap: wrap;
}

.gear-set__item {
    width: 339px;

    margin-bottom: 48px;
    background-color: $color-25;
    border-radius: 10px;

    @include media(tablet) {
        margin: 0 auto;

        // &:nth-child(2n-1) {
        //     margin-right: 32px;
        // }

        &:nth-child(-n + 3) {
            margin-bottom: 34px;
        }
    }

    @include media(desktop) {
        width: 616px;
        height: 609px;

        &:nth-last-child(-n + 3) {
            width: calc((100% - 64px) / 3);
            margin-right: 32px;
            margin-bottom: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    // outline: 2px solid red;
}

.gear-set__item--none {
    display: none;
    @include media(desktop) {
        display: block;
    }
}

.gear-set__link {
}

.gear-set__img {
    width: 339px;
    height: 311px;

    background-size: cover;

    @include media(desktop) {
        width: 100%;
        height: 487px;
    }
}

.gsi__nomargin {
    @include media(desktop) {
        margin-left: 32px;
    }
}

.gear-set__item--mode-light {
    background-color: #eaeaea;
}

.gear-set__content {
    padding: 32px;
}

.gear-set__title {
    margin: 0;
    margin-bottom: 4px;

    @include fonts(700, 24, 31, normal);
    color: $bg-color;
}

.gear-set__title--mode-dark {
    color: #202020;
}

.gear-set__subtitle {
    margin: 0;

    @include fonts(600, 18, 23, normal);
    color: #c4c4c4;
}

.gear-set__subtitle--mode-light {
    color: $p-color;
}
