/* Позиціювання */
/* Блокова модель */
/* Типографія */
/* Відображення */
/* Інше */

.hero {
    // width: 328px;

    padding-top: 0;
    padding-bottom: 0px;
    color: $bg-color;
}

.hero__title {
    width: 267px;
    padding: 110px 0;
    @include fonts(700, 32, 38, normal);

    animation: fade-left-to-right 2s;

    @include media(mobile-only) {
        margin: 0 auto;
        text-align: center;
    }

    @include media(tablet) {
        width: 500px;
        padding: 180px 0;
        @include fonts(700, 56, 67, 0.02em);
    }

    @include media(desktop) {
        width: 577px;
        @include fonts(700, 56, 67, 0.02em);
    }
}

// Git tests

.hero__article {
    margin: 0 auto;
    width: 328px;
    height: 168px;
    text-align: center;

    background: $btn-color;
    background-image: url(../../images/index.html/article-bgi/article-bgi_sm.jpg);
    
    @include media(retina) {
            background-image: url(../../images/index.html/article-bgi/article-bgi_sm@2x.jpg);
    }
    
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;

    box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1),
        0px 12px 32px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    animation: fade-right-to-left 3s $cubic;

    @include media(tablet) {
        margin: 0 -18px;
        width: 768px;
        height: 208px;

        background-image: url(../../images/index.html/article-bgi/article-bgi_md.jpg);
        
        @include media(retina) {
            background-image: url(../../images/index.html/article-bgi/article-bgi_md@2x.jpg);
    }
    }

    @include media(desktop) {
        margin: 0 auto;
        width: 1264px;
        height: 255px;

        background-image: url(../../images/index.html/article-bgi/article-bgi_lg.jpg);
        
        @include media(retina) {
            background-image: url(../../images/index.html/article-bgi/article-bgi_lg@2x.jpg);
    }
    }
}

// .hero__article {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     padding: 32px;
//     gap: 16px;

//     // position: absolute;
//     width: 1264px;
//     height: 280px;

//     left: 88px;
//     right: 88px;
//     top: 664px;

//     background: url(/images/article-lesson3.png), #ab0433;
//     background-blend-mode: darken, normal;
//     background-size: cover;
//     background-position: center;
//     /* Shaddow 1 */

//     box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1), 0px 12px 32px rgba(0, 0, 0, 0.05);
//     border-radius: 10px;
// }

.hero__subtitle {
    margin: 0;
    padding: 18px 51px 4px 51px;

    @include fonts(700, 21, 25, normal);

    @include media(tablet) {
        padding-top: 24px;
        padding-bottom: 10px;
        font-size: 32px;
    }

    @include media(desktop) {
        padding-top: 30px;
        font-size: 46px;
    }
}

.hero__content {
    padding: 0 51px 16px 51px;
    @include fonts(600, 10, 15, normal);

    @include media(tablet) {
        padding: 0 175px 16px 175px;
        font-size: 18px;
    }
    @include media(desktop) {
        padding: 0 354px 16px 354px;
        font-size: 24px;
    }
}

.hero__btn {
    // width: 103px;
    animation: swing 10s ease-in-out infinite forwards;
}
