/* Позиціювання */
/* Блокова модель */
/* Типографія */
/* Відображення */
/* Інше */

.hero {
    padding-top: 178px;
    padding-bottom: 0px;
}

.hero__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $bg-color;

    width: 577px;
    height: 201px;

    animation: fade-left-to-right 2s;
}

.hero__article {
    text-align: center;
    width: 1264px;
    height: 255px;

    background-image: url(/images/article-lesson.png);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;

    box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1),
        0px 12px 32px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    animation: fade-right-to-left 3s $cubic;
}

// .hero__article {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     padding: 32px;
//     gap: 16px;

//     // position: absolute;
//     width: 1264px;
//     height: 280px;

//     left: 88px;
//     right: 88px;
//     top: 664px;

//     background: url(/images/article-lesson3.png), #ab0433;
//     background-blend-mode: darken, normal;
//     background-size: cover;
//     background-position: center;
//     /* Shaddow 1 */

//     box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1), 0px 12px 32px rgba(0, 0, 0, 0.05);
//     border-radius: 10px;
// }

.hero__subtitle {
    margin: 0;
    margin-top: 178px;
    padding-top: 50px;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 46px;
    line-height: 1.2;
    color: $bg-color;
}

.hero__content {
    width: 550px;
    margin: 0 auto;
    height: 72px;
    margin-bottom: 16px;

    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: $bg-color;
}

.hero__btn {
    animation: swing 10s ease-in-out infinite forwards;
}
